<div class="chart-card">
  <h3 class="chart-title"><i class="pi pi-user"></i> Revenue by Client (Top)</h3>
  <div *ngIf="chartOptions" class="chart-container">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [plotOptions]="chartOptions.plotOptions"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip">
    </apx-chart>
  </div>
  <div *ngIf="!items || items.length === 0" class="chart-empty">
    <i class="pi pi-user"></i>
    <p>No client revenue data</p>
  </div>
</div>
